In [1]:
import sqlite3
import pandas as pd

In [2]:
connection = sqlite3.connect('movie_database.db')

In [3]:
cursor = connection.cursor()

In [6]:
cursor.execute('''select * from INFORMATION_SCHEMA.TABLE_movies''').fetchall()

OperationalError: no such table: INFORMATION_SCHEMA.TABLE_movies

In [21]:
# Crie um dicionario de dados
dados = {}

names =[]
var_names = []
var_type = []
check_null =[]
cursor.execute('SELECT name FROM sqlite_master WHERE TYPE = "table"')
name = cursor.fetchall()
for n in name:
    nome = n[0]
    cursor.execute(f"PRAGMA table_info({n[0]})")
    for row in cursor.fetchall():
        names.append(n[0])
        var_names.append(row[1])
        var_type.append(row[2])
        #SELECT COUNT(*) FROM your_table WHERE your_column IS NULL;
        cursor.execute(f'SELECT COUNT(*) FROM {n[0]} WHERE {row[1]} IS NULL;')
        check = cursor.fetchall() # returns list of tuples ex.(0,)
        if check[0][0] >0:
            check_null.append("Yes")
        else:
            check_null.append("No")

dados = {"Table" : names, "Variable Names": var_names , "Variables Types" : var_type, "Null Values": check_null}       

df = pd.DataFrame(dados)
 
print(df)

        Table Variable Names Variables Types Null Values
0   directors             id         INTEGER          No
1   directors           name            TEXT          No
2      genres             id         INTEGER          No
3      genres           name            TEXT          No
4      movies             id         INTEGER          No
5      movies          title            TEXT          No
6      movies           year         INTEGER          No
7      movies         rating            REAL          No
8      movies       genre_id         INTEGER          No
9      movies    director_id         INTEGER          No
10     actors             id         INTEGER          No
11     actors           name            TEXT          No
12      roles             id         INTEGER          No
13      roles       movie_id         INTEGER          No
14      roles       actor_id         INTEGER          No