In [33]:
import sqlite3
import pandas as pd

In [34]:
connection = sqlite3.connect('movie_database.db')

In [35]:
cursor = connection.cursor()

In [31]:
cursor.execute('SELECT title,year FROM movies')
movie = []
year = []
all_movies = cursor.fetchall()
print(all_movies)

for items in all_movies:
    movie.append(items[0])
    year.append(items[1])

dict = {"Movies" : movie , "Year": year }
df = pd.DataFrame(dict)
print(df)

[('The Godfather', 1972), ('The Shawshank Redemption', 1994), ("Schindler's List", 1993), ('Raging Bull', 1980), ("One Flew Over the Cuckoo's Nest", 1975), ('Titanic', 1997), ('Forrest Gump', 1994), ('Star Wars', 1977), ('E.T. the Extra-Terrestrial', 1982), ('Amadeus', 1984), ('Apocalypse Now', 1979), ('Gladiator', 2000), ('The Dark Knight', 2008), ('Fight Club', 1999), ('Inception', 2010), ('The Matrix', 1999), ('Se7en', 1995), ('Terminator 2: Judgment Day', 1991), ('WALL·E', 2008), ('Toy Story 3', 2010), ('Reservoir Dogs', 1992), ('Braveheart', 1995), ('Heat', 1995), ('Good Will Hunting', 1997), ('Toy Story', 1995), ('Scarface', 1983), ('Gone Girl', 2014), ('The Wolf of Wall Street', 2013), ('Blade Runner', 1982), ('Gran Torino', 2008), ('The Big Lebowski', 1998), ('Trainspotting', 1996), ('A Beautiful Mind', 2001), ('Platoon', 1986), ('Sin City', 2005), ('The Avengers', 2012), ('Donnie Darko', 2001), ('Shutter Island', 2010), ('Twelve Monkeys', 1995), ('The Terminator', 1984), ("The King's Speech", 2010), ('The Truman Show', 1998), ('Jurassic Park', 1993)]
                             Movies  Year
0                     The Godfather  1972
1          The Shawshank Redemption  1994
2                  Schindler's List  1993
3                       Raging Bull  1980
4   One Flew Over the Cuckoo's Nest  1975
5                           Titanic  1997
6                      Forrest Gump  1994
7                         Star Wars  1977
8        E.T. the Extra-Terrestrial  1982
9                           Amadeus  1984
10                   Apocalypse Now  1979
11                        Gladiator  2000
12                  The Dark Knight  2008
13                       Fight Club  1999
14                        Inception  2010
15                       The Matrix  1999
16                            Se7en  1995
17       Terminator 2: Judgment Day  1991
18                           WALL·E  2008
19                      Toy Story 3  2010
20                   Reservoir Dogs  1992
21                       Braveheart  1995
22                             Heat  1995
23                Good Will Hunting  1997
24                        Toy Story  1995
25                         Scarface  1983
26                        Gone Girl  2014
27          The Wolf of Wall Street  2013
28                     Blade Runner  1982
29                      Gran Torino  2008
30                 The Big Lebowski  1998
31                    Trainspotting  1996
32                 A Beautiful Mind  2001
33                          Platoon  1986
34                         Sin City  2005
35                     The Avengers  2012
36                     Donnie Darko  2001
37                   Shutter Island  2010
38                   Twelve Monkeys  1995
39                   The Terminator  1984
40                The King's Speech  2010
41                  The Truman Show  1998
42                    Jurassic Park  1993

In [32]:
cursor.execute('''SELECT title,year 
               FROM movies
               WHERE year = (SELECT MAX(year) FROM movies)''').fetchall()

[('Gone Girl', 2014)]

In [33]:
cursor.execute('''SELECT title,year 
               FROM movies
               WHERE year = (SELECT MIN(year) FROM movies)''').fetchall()

[('The Godfather', 1972)]

In [38]:
cursor.execute('''SELECT title,year, rating 
               FROM movies
               ORDER BY rating DESC
               LIMIT 5''').fetchall()

[('The Shawshank Redemption', 1994, 9.3),
 ('The Godfather', 1972, 9.2),
 ('The Dark Knight', 2008, 9.0),
 ("Schindler's List", 1993, 8.9),
 ('Fight Club', 1999, 8.9)]

In [39]:
cursor.execute('''SELECT title,year, rating 
               FROM movies
               ORDER BY rating ASC
               LIMIT 10''').fetchall()

[('Titanic', 1997, 7.7),
 ('E.T. the Extra-Terrestrial', 1982, 7.9),
 ('Jurassic Park', 1993, 8.0),
 ('Platoon', 1986, 8.1),
 ('Sin City', 2005, 8.1),
 ('Donnie Darko', 2001, 8.1),
 ('Shutter Island', 2010, 8.1),
 ('Twelve Monkeys', 1995, 8.1),
 ('The Terminator', 1984, 8.1),
 ("The King's Speech", 2010, 8.1)]

In [64]:
cursor.execute('''SELECT
                  m.title, 
                  m.year, 
                  g.name
                  FROM movies m
                  INNER JOIN genres as g  
                  ON m.genre_id = g.id
                  WHERE g.name = 'Drama'
                  ;''' ).fetchall()

[('The Godfather', 1972, 'Drama'),
 ('The Shawshank Redemption', 1994, 'Drama'),
 ("Schindler's List", 1993, 'Drama'),
 ('Raging Bull', 1980, 'Drama'),
 ("One Flew Over the Cuckoo's Nest", 1975, 'Drama'),
 ('Titanic', 1997, 'Drama'),
 ('Forrest Gump', 1994, 'Drama'),
 ('Amadeus', 1984, 'Drama'),
 ('Se7en', 1995, 'Drama'),
 ('Good Will Hunting', 1997, 'Drama'),
 ('Scarface', 1983, 'Drama'),
 ('Gran Torino', 2008, 'Drama'),
 ('Trainspotting', 1996, 'Drama'),
 ('A Beautiful Mind', 2001, 'Drama'),
 ('Platoon', 1986, 'Drama'),
 ('Donnie Darko', 2001, 'Drama'),
 ("The King's Speech", 2010, 'Drama'),
 ('The Truman Show', 1998, 'Drama')]

In [32]:
cursor.execute('''SELECT
                g.name,
                COUNT(g.name)
                FROM movies m
                INNER JOIN genres g
                ON m.genre_id = g.id
                WHERE g.name = "Thriller"; ''').fetchall()[0]

('Thriller', 5)

In [27]:
cursor.execute('''SELECT
                m.title,
                m.year,
                g.name,
                a.name
                FROM movies m
                INNER JOIN genres g
                ON m.genre_id = g.id
                INNER JOIN roles r
                ON m.id = r.movie_id
                INNER JOIN actors a
                ON r.actor_id = a.id
                WHERE a.name = "Morgan Freeman";''').fetchall()

[('The Shawshank Redemption', 1994, 'Drama', 'Morgan Freeman'),
 ('Se7en', 1995, 'Drama', 'Morgan Freeman')]

In [37]:
cursor.execute('''SELECT id FROM Actors WHERE name="Morgan Freeman"''').fetchall()

[(5,)]

In [ ]:
cursor.execute('''SELECT id FROM Actors WHERE name="Morgan Freeman"''').fetchall()